:root {
    /*-------------- Colors --------------*/
    --black: #000000;
    --white: #fff;
}

html, html a {
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

body{
    font-family: system-ui, sans-serif;
    background-color: var(--white);
    color: var(--black);
}

#wrapper{
    padding: 3% 3% 0 3%;
    margin: 0 auto;
}